{% schema %}
{
  "name": "LEM-SLIDER",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "LEM-SLIDER",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}

<div>
  <h1>{{ section.settings.title }}</h1>
  <div class="slides">
    {% for block in section.blocks %}
      <div class="slide">
        <img src="{{ block.settings.image | img_url: 'large' }}" alt="Slide Image">
      </div>
    {% endfor %}
  </div>
</div>